.header{
	box-sizing: border-box;
	background-color: #1D8CBE;
	height: 2.9em;
	padding-left: .7em;
}
.tinyheader{
	
	background-color: white;
	height: 2.2em;
	width: 2.3em;
	margin-top: .3em;
	float: left;
}
.midheader{
	color: white;
	box-sizing: border-box;
	margin-top: .3em;
	background-color: #1D8CBE;
	height: 2.2em;
	width: 9em;
	float: left;
	margin-left: 1em;
	padding-top: .65em;
	text-align: center;
	font-size: 1.05em;
}
span{
	color: #B4D5E5;
}

.rightheader{
	box-sizing: border-box;
	color: white;
	background-color: #0070A4;
	height: 2.9em;
	width: 5em;
	float: right;
	padding-top: .9em;
	text-align: center;
}
.bigblue{
	background-color: #344050;
	height: 70em;
	
}
.create{
	color:white;
	font-size: 2em;
	padding-top: 5.5em;
	text-align: center;

}
.wordpresscom{
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}
.createbutton{
	box-sizing: border-box;
	padding-top: .7em;
	font-size: 1.2em;
	color: white;
	text-align: center;
	background-color: #1E8CBE;
	height: 4em;
	width: 12em;
	margin: auto;
	border: .5em solid #212934;
}
.smallwhite{
	background-color: white;
	width: 3em;
	height: 1.3em;
	margin: 13em auto 8em auto;
}
.bigwhiteinterior{
	background-color: #344050;
	height: 4em;
	width: 20em;
	margin-top: 1.7em;
	margin-left: auto;
	margin-right: auto;
}
.wa{
	background-color: white;
	height: 3.45em;
	width: 3em;
	border-top: .6em solid white;
	float: left;
}
.waa{
	box-sizing: border-box;
	padding-top: .3em;
	padding-left: .1em;
	color: white;
	font-size: 1em;
	background-color: #344050;
	float: right;
	height: 3.4em;
	width: 16.4em;
	border-bottom: .6em;
	margin-right: .15em;
}
.ready{
	box-sizing: border-box;
	font-size: .8em;
	display: block;
	color: white;
	padding-top: .4em;

}
.lightblue{
	background-color: #E8F0F5;
	height: 100em;
	color: #344051;
	font-size: 1.5em;
	margin-top: 1px;
	padding-top: 3em;
	text-align: center;
}

.largegrey{
	box-sizing: border-box;
	background-color: #D1D3D7;
	height: 87em;
	padding-top: .5em;
	margin-top: 3em;
}

.bigwhite{
	box-sizing: border-box;
	background-color: white;
	height: 12em;
	margin: 2em 1em 0 1em;
	padding: .6em;
	color: black;

}
.bwgreysquare{
	background-color: #C7D2D8;
	height: 3.4em;
	width: 3.4em;
	margin: 0 auto .7em auto;
}
.bwgreyshort{
	background-color: white;
	height: 1.5em;
	width: 90%;
	margin: 0 auto .9em auto;
}
.bwgreyrect{
	background-color: white;
	height: 3.3em;
	width: 90%;
	margin: 0 auto 1em auto;
}
.toptitle{
	color: #344051;
}
.smallexpl{
	color: black;
	font-size: .7em;
}
.a23{
	height: 1.5em;
	background-color: #E8F0F5;
	padding-top: 1.5em;
}
.secondcreate{
	box-sizing: border-box;
	color: white;
	padding-top: .4em;
	background-color: #1E8CBE;
	height: 2em;
	width: 9em;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
}
.littleblackbox{
	box-sizing: border-box;
	height: 9em;
	background-color: black;
	padding: 2em 3em 1em 3em;
	overflow: scroll;
}
.links{
	width: 8em;
	color: white;
	font-size: .7em;
	height: 2em;
	background-color: black;
	display: inline-block;
}
.lastsmallwhite{
	background-color: white;
	height: 1em;
	width: 15em;
	margin: auto;
	margin-top: 1em;
}


